<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi Ricetta</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/global.css">
		<link rel="stylesheet" href="/css/formNewRicetta.css">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
	<!-- INTESTAZIONE -->
	<header class="header">
        <div class="icona"><img src="/images/titolo.png" width="40%" style="padding-bottom: 15px;"/></div>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/ricetta">Ricette</a></li>
            <li><a href="/cuoco">Cuochi</a></li>
			<div th:if="${userDetails}">
				<li>
					<a href="/logout">
						<i class='bx bx-log-out' style="font-size: 1.4rem;"></i>
					</a>
				</li>
			</div>
			<div th:if="${userDetails}">
				<li>
					<a href="/dettagliUser">
						<i class='bx bxs-user-detail' style="font-size: 1.4rem;"></i>
					</a>
				</li>
			</div>
			<div th:unless="${userDetails}">
				<li>
					<a href="/login">
						<i class='bx bx-log-in'	style="font-size: 1.4rem;"></i>
					</a>
				</li>
			</div>
        </ul>
    </header>
	<!--CORPO-->
<!--	<div class="container-nav"></div>-->
	<div class="body">
		<div class="wrapper">
			<div class="container">
			    <div class="card">
			        <h2>Aggiungi una Ricetta</h2>
			        <form class="form-container" th:action="@{/ricetta}" method="POST" th:object="${ricetta}">
						<input type="text" class="input-field"  th:field="${ricetta.nome}"placeholder="Nome">
						<input type="number" class="input-field"th:field="${ricetta.tempoPreparazioneTot}"placeholder="Tempo di Preparazione">
						<input type="text" 	class="input-field"th:field="${ricetta.tipologia}"placeholder="Tipologia">
				            <textarea name="cover_letter" class="input-field" placeholder="Descrizione"></textarea>
			            <input type="file" class="input-field" placeholder="Copertina">
			            <button type="submit" class="submit-button">Conferma</button>
			        </form>
			    </div>
			</div>
			
<!--			<div class="flex flex-col items-center justify-center h-screen">-->
<!--			  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">-->
<!--			    <h2 class="text-2xl font-bold text-gray-900 mb-4">Aggiungi una Ricetta</h2>-->
<!--				<form class="flex flex-col" th:action="@{/ricetta}" method="POST" th:object="${ricetta}">-->
<!--			      <input type="text" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Full Name">-->
<!--			      <input type="email" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Email">-->
<!--			      <input type="text" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Phone Number">-->
<!--			      <input type="text" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="LinkedIn Profile URL">-->
<!--			      <textarea name="cover_letter" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Cover Letter"></textarea>-->
<!--			      <input type="file" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" placeholder="Resume">-->
			
<!--			      <button type="submit" class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150">Apply</button>-->
<!--			    </form>-->
<!--			  </div>-->
<!--			</div>-->

<!--			<form th:action="@{/ricetta}" method="POST" th:object="${ricetta}">-->
<!--		  		<div th:if="${#fields.hasGlobalErrors()}">-->
<!--		  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> -->
<!--		  		</div>-->
<!--				<div>-->
<!--					<label>Nome:</label> -->
<!--					<span style="border-radius: 10%;"><input type="text" th:field="${ricetta.nome}" /></span>-->
<!--				    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">-->
<!--				    </span>-->
<!--					<br>-->
<!--					<label>Tempo di Preparazione:</label> -->
<!--					<span><input type="number" th:field="${ricetta.tempoPreparazioneTot}" /></span>-->
<!--				    <span th:if="${#fields.hasErrors('tempoPreparazioneTot')}" th:errors="*{tempoPreparazioneTot}">-->
<!--				    </span>-->
<!--					<br>-->
<!--					<label>Descrizione:</label> -->
<!--					<span><input type="text" th:field="${ricetta.descrizione}" /></span>-->
<!--				    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">-->
<!--				    </span>-->
<!--					<br>-->
<!--					<label>Tipologia:</label> -->
<!--					<span><input type="text" th:field="${ricetta.tipologia}" /></span>-->
<!--				    <span th:if="${#fields.hasErrors('tipologia')}" th:errors="*{tipologia}">-->
<!--				    </span>-->
<!--				</div>-->
<!--				<div>-->
<!--					<span><button type="submit">Conferma</button></span>-->
<!--				</div>-->
<!--			</form>-->
		</div>
	</div>	
	</body>
</html>